### Feature Engineering

In [1]:
# importing the libraries
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel(r"C:\Users\HP\Downloads\practice_data.xlsx")
df

,EmployeeID,gender,department,Days Present,Accuracy of Work,Meeting Project Deadlines,Task Completion Rates,Interpersonal Skills Rating,Decision-Making Skills Rating,Sales Revenue Generated,churned
0,1,Male,Sales,20,High,Yes,85,8,7,51638,No
1,2,Female,Marketing,22,Medium,Yes,90,7,6,97797,Yes
2,3,Male,Human Resources,25,High,No,80,9,8,95341,No
3,4,Male,Engineering,19,Low,Yes,75,6,5,91806,No
4,5,Female,Finance,23,Medium,Yes,85,7,7,64247,Yes
5,6,Male,Sales,21,High,Yes,95,8,8,89988,No
6,7,Female,Marketing,24,Low,No,70,5,4,70934,Yes
7,8,Male,Human Resources,18,Medium,Yes,80,6,6,96578,No
8,9,Male,Engineering,20,High,Yes,90,8,7,74219,No
9,10,Female,Finance,22,Medium,Yes,85,7,6,87009,Yes
10,11,Male,Sales,25,High,No,75,9,8,77785,No
11,12,Female,Marketing,19,Low,Yes,70,6,5,97201,Yes
12,13,Male,Human Resources,23,Medium,Yes,80,7,7,67730,No
13,14,Male,Engineering,21,High,Yes,90,8,8,93427,No
14,15,Female,Finance,24,Low,No,65,5,4,77172,Yes
15,16,Male,Sales,18,Medium,Yes,75,6,6,85737,No
16,17,Female,Marketing,20,High,Yes,85,8,7,74871,Yes
17,18,Male,Human Resources,22,Medium,Yes,80,7,6,63245,No
18,19,Male,Engineering,25,High,No,70,9,8,53169,No
19,20,Female,Finance,19,Low,Yes,65,6,5,81770,Yes
20,21,Male,Sales,23,Medium,Yes,75,7,7,78482,No
21,22,Female,Marketing,21,High,Yes,85,8,8,57836,Yes
22,23,Male,Human Resources,24,Low,No,60,5,4,62885,No
23,24,Male,Engineering,18,Medium,Yes,70,6,6,52579,No
24,25,Female,Finance,20,High,Yes,80,8,7,75795,Yes
25,26,Female,Finance,19,Low,Yes,65,6,5,81770,Yes
26,27,Male,Sales,23,Medium,Yes,75,7,7,78482,No
27,28,Female,Marketing,21,High,Yes,85,8,8,57836,Yes
28,29,Male,Human Resources,24,Low,No,60,5,4,62885,No
29,30,Male,Engineering,18,Medium,Yes,70,6,6,52579,No
30,31,Female,Finance,20,High,Yes,80,8,7,75795,Yes

In [3]:
df.columns

Index(['EmployeeID', 'gender', 'department', 'Days Present',
       'Accuracy of Work', 'Meeting Project Deadlines',
       'Task Completion Rates', 'Interpersonal Skills Rating',
       'Decision-Making Skills Rating', 'Sales Revenue Generated', 'churned'],
      dtype='object')

In [4]:
# Creating the dummies
df1 = pd.get_dummies(df, columns=['gender', 'department'])
df1.head()

,EmployeeID,Days Present,Accuracy of Work,Meeting Project Deadlines,Task Completion Rates,Interpersonal Skills Rating,Decision-Making Skills Rating,Sales Revenue Generated,churned,gender_Female,gender_Male,department_Engineering,department_Finance,department_Human Resources,department_Marketing,department_Sales
0,1,20,High,Yes,85,8,7,51638,No,False,True,False,False,False,False,True
1,2,22,Medium,Yes,90,7,6,97797,Yes,True,False,False,False,False,True,False
2,3,25,High,No,80,9,8,95341,No,False,True,False,False,True,False,False
3,4,19,Low,Yes,75,6,5,91806,No,False,True,True,False,False,False,False
4,5,23,Medium,Yes,85,7,7,64247,Yes,True,False,False,True,False,False,False

In [5]:
# Concatenating the dataframes
df2 = pd.concat([df1, df[['Sales Revenue Generated', 'churned']]], axis=1)
df2.head()

,EmployeeID,Days Present,Accuracy of Work,Meeting Project Deadlines,Task Completion Rates,Interpersonal Skills Rating,Decision-Making Skills Rating,Sales Revenue Generated,churned,gender_Female,gender_Male,department_Engineering,department_Finance,department_Human Resources,department_Marketing,department_Sales,Sales Revenue Generated,churned
0,1,20,High,Yes,85,8,7,51638,No,False,True,False,False,False,False,True,51638,No
1,2,22,Medium,Yes,90,7,6,97797,Yes,True,False,False,False,False,True,False,97797,Yes
2,3,25,High,No,80,9,8,95341,No,False,True,False,False,True,False,False,95341,No
3,4,19,Low,Yes,75,6,5,91806,No,False,True,True,False,False,False,False,91806,No
4,5,23,Medium,Yes,85,7,7,64247,Yes,True,False,False,True,False,False,False,64247,Yes

In [8]:
# Binning the data
df['Binned_Department'] = pd.cut(df['department'], bins=3, labels=['Low', 'Medium', 'High'],include_lowest=True)
df.head()

TypeError: can only concatenate str (not "float") to str

In [9]:
df['Binned_Department'] = pd.qcut(df['department'].astype('category').cat.codes, q=3, labels=['Low', 'Medium', 'High'])
df.head()

,EmployeeID,gender,department,Days Present,Accuracy of Work,Meeting Project Deadlines,Task Completion Rates,Interpersonal Skills Rating,Decision-Making Skills Rating,Sales Revenue Generated,churned,Binned_Department
0,1,Male,Sales,20,High,Yes,85,8,7,51638,No,High
1,2,Female,Marketing,22,Medium,Yes,90,7,6,97797,Yes,Medium
2,3,Male,Human Resources,25,High,No,80,9,8,95341,No,Medium
3,4,Male,Engineering,19,Low,Yes,75,6,5,91806,No,Low
4,5,Female,Finance,23,Medium,Yes,85,7,7,64247,Yes,Low

In [10]:
# Mapping the data
df['Mapped_Department'] = df['department'].map({'Sales': 'Low', 'Marketing': 'Medium', 'Human Resources': 'High'})
df.head()

,EmployeeID,gender,department,Days Present,Accuracy of Work,Meeting Project Deadlines,Task Completion Rates,Interpersonal Skills Rating,Decision-Making Skills Rating,Sales Revenue Generated,churned,Binned_Department,Mapped_Department
0,1,Male,Sales,20,High,Yes,85,8,7,51638,No,High,Low
1,2,Female,Marketing,22,Medium,Yes,90,7,6,97797,Yes,Medium,Medium
2,3,Male,Human Resources,25,High,No,80,9,8,95341,No,Medium,High
3,4,Male,Engineering,19,Low,Yes,75,6,5,91806,No,Low,NaN
4,5,Female,Finance,23,Medium,Yes,85,7,7,64247,Yes,Low,NaN

In [13]:
# Encoding 
data = pd.read_excel(r"C:\Users\HP\Downloads\practice_data.xlsx")
data.head(10)

,EmployeeID,gender,department,Days Present,Accuracy of Work,Meeting Project Deadlines,Task Completion Rates,Interpersonal Skills Rating,Decision-Making Skills Rating,Sales Revenue Generated,churned
0,1,Male,Sales,20,High,Yes,85,8,7,51638,No
1,2,Female,Marketing,22,Medium,Yes,90,7,6,97797,Yes
2,3,Male,Human Resources,25,High,No,80,9,8,95341,No
3,4,Male,Engineering,19,Low,Yes,75,6,5,91806,No
4,5,Female,Finance,23,Medium,Yes,85,7,7,64247,Yes
5,6,Male,Sales,21,High,Yes,95,8,8,89988,No
6,7,Female,Marketing,24,Low,No,70,5,4,70934,Yes
7,8,Male,Human Resources,18,Medium,Yes,80,6,6,96578,No
8,9,Male,Engineering,20,High,Yes,90,8,7,74219,No
9,10,Female,Finance,22,Medium,Yes,85,7,6,87009,Yes

In [12]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['churned'] = le.fit_transform(data['churned'])
data.head()

,EmployeeID,gender,department,Days Present,Accuracy of Work,Meeting Project Deadlines,Task Completion Rates,Interpersonal Skills Rating,Decision-Making Skills Rating,Sales Revenue Generated,churned
0,1,Male,Sales,20,High,Yes,85,8,7,51638,0
1,2,Female,Marketing,22,Medium,Yes,90,7,6,97797,1
2,3,Male,Human Resources,25,High,No,80,9,8,95341,0
3,4,Male,Engineering,19,Low,Yes,75,6,5,91806,0
4,5,Female,Finance,23,Medium,Yes,85,7,7,64247,1